<div class="tx-srlanguagemenu tx-srlanguagemenu-flags">
	<f:for each="{options}" iteration="optionIterator" as="option">
		<f:if condition="{option.isCurrent}">
			<f:then>
				<f:if condition="{settings.flags.showCurrent}">
					<div class="CUR{f:if(condition: optionIterator.index, then: ' SPC')}">
						<f:if condition="{settings.flags.doNotLinkCurrent}">
							<f:then>
								<f:render partial="UnlinkedFlag" arguments="{option: option, settings: settings}" />
							</f:then>
							<f:else>
								<f:render partial="LinkedFlag" arguments="{option: option, settings: settings}" />
							</f:else>
						</f:if>
					</div>
				</f:if>
			</f:then>
			<f:else>
				<f:if condition="{option.isAvailable}">
					<f:then>
						<div class="NO{f:if(condition: optionIterator.index, then: ' SPC')}">
							<f:render partial="LinkedFlag" arguments="{option: option, settings: settings}" />
						</div>
					</f:then>
					<f:else>
						<f:if condition="{settings.flags.showInactive}">
							<div class="INACT{f:if(condition: optionIterator.index, then: ' SPC')}">
								<f:if condition="{settings.flags.doNotLinkInactive}">
									<f:then>
										<f:render partial="UnlinkedFlag" arguments="{option: option, settings: settings}" />
									</f:then>
									<f:else>
										<f:render partial="LinkedFlag" arguments="{option: option, settings: settings}" />
									</f:else>
								</f:if>
							</div>
						</f:if>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</f:for>
</div>
