<form action="" id="sr_language_menu_form" class="tx-srlanguagemenu">
	<fieldset>
		<legend>{f:translate(key:'form_fieldset_legend')}</legend>
		<label for="sr_language_menu_select">{f:translate(key:'form_select_label')}</label>
		<img src="{f:uri.resource(path: 'Images/language.png')}" class="tx-srlanguagemenu-language-icon" /><select id="sr_language_menu_select" title="{f:translate(key: 'select_language', extensionName: 'SrLanguageMenu')}" onchange="if (this.options[this.selectedIndex].value == '') return;top.location.replace(this.options[this.selectedIndex].value );">
			<f:if condition="{settings.list.header}">
				<option value ="">{f:translate(key:'select_language')}</option>
				<f:if condition="{settings.list.separator}">
					<option value ="">{settings.list.separator}</option>
				</f:if>
			</f:if>
			<f:for each="{options}" as="option">
				<f:if condition="{option.uid} == 0">
					<f:then>
						<f:if condition="{settings.hideIfDefaultLanguage} == 0">
							<f:render partial="Option" arguments="{option: option, settings: settings}" />
						</f:if>
					</f:then>
					<f:else>
						<f:render partial="Option" arguments="{option: option, settings: settings}" />
					</f:else>
				</f:if>
			</f:for>
		</select>
	</fieldset>
</form>
